# Logs
logs/
*.log
!bracelet/logs/

# dotenv: файлы переменных окружения в корне
# Игнорируем индивидуальные конфигурации ботов
.env
/.env.*
# Но оставляем шаблон примера, используемый для быстрого старта
!.env.example

# datasets
data/

# Node
node_modules/

# Composer
vendor/

# Cache результатов PHPUnit
.phpunit.result.cache

# IntelliJ project files
.idea/

# Generates
security/
assets/public/
upload/
