# Logs
logs/
*.log

# dotenv environment variables file
.env

# datasets
data/

# Node
node_modules/

# Composer
vendor/

# Cache результатов PHPUnit
.phpunit.result.cache

# IntelliJ project files
.idea/

# Generates
security/
assets/public/
upload/
